



/*==========  ID Rules  ==========*/
#root {
    width: 90%;
    margin: 0px auto;
}

#profile_img, .camera-icon {
    width: 100%;
    height: 100%;
    border-radius: 88px;
}

#img-wrapper {
    width: 88px;
    height: 88px;
    position: relative;
    margin: 0px auto 30px auto;
}

/*==========  Class Rules  ==========*/
.camera-icon {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    background-color: rgba(52, 64, 84, 0.6);
}

.camera-icon img {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.menu-block {
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin: 30px 0 0 auto;
    background-image: url('/src/assets/images/hamburger.png');
}

.profile-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin: 0px auto 30px auto;
}

.link {
    border: 1px solid #EAECF0;
    border-radius: 8px;
    width: 100%;
    background: #EAECF0;
    padding: 25px 0;
    text-align: center;
    color: #101828;
    font-weight: 500;
    font-size: 14px;
    height: fit-content;
    margin: 10px 0;
    cursor: pointer;
}

.link span {
    font-size: 12px;
    line-height: 16px;
    display: block;
    max-width: 85%;
    font-weight: 300;
    margin: 10px auto;
}

.social-links {
    width: fit-content;
    height: fit-content;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-links img, footer img {
    cursor: pointer;
}

.zuri-img {
    width: 150px;
    height: 25px;
}

.i4g-img {
    width: 125px;
    height: 25px;
}

/*==========  Element Rules  ==========*/
h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    margin-bottom: 30px;
}

footer {
    width: 90%;
    height: 100%;
    margin: 60px auto 10px auto;
    padding: 30px 0px;
    border-top: 1px solid #EAECF0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}




/*==========  Media Queries Rules  ==========*/
@media screen and (min-width: 1024px) {
    .menu-block {
        background-image: url('/src/assets/images/share.png');
        margin-right: 23%;
    }

    .profile-links {
        width: 90%;
    }

    footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}



/*==========  Animation Rules  =========*/
.link:hover {
    background: #D0D5DD;
    border: 1px solid #D0D5DD;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.link:focus {
    background: #EAECF0;
    border: 1px solid #98A2B3;
    transition: all 0.5s ease-in-out;
}

.camera-icon:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;;
}